<div class="dialog">
    <h2>Zapocni novu temu</h2>


    <form [formGroup]="addTopicForm">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Naslov teme</mat-label>
                <input matInput formControlName="title">
                <mat-icon matSuffix>title</mat-icon>
            </mat-form-field>
        </div>
        <div>

            <mat-form-field appearance="outline">
                <mat-label>Odabir kategorije</mat-label>
                <mat-select formControlName="id_category">
                    <mat-option *ngFor="let category of listOfCategories" [value]="category">
                        {{category.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>

    <div>
        <ckeditor #editor [editor]="Editor"></ckeditor>
    </div>

    <div class="text-center">
        <button class="save-btn" (click)="addTopic()" [disabled]="!addTopicForm.valid" mat-dialog-close>SAČUVAJ</button>
    </div>
</div>