<div class="nav-menu">
    <div class="row text-left">
        <div class="col-sm-9 text-left" style="padding:1em;display: inline-flex;">
            <img [routerLink]="['/']" routerLinkActive="router-link-active" src="../../assets/img/logo.png" width="100px" alt="" class="img-fluid">
            <div style="width: 50%;">
                <form [formGroup]="searchForm">
                    <mat-form-field class="example-full-width">
                        <mat-label style="color: #fff;">Pretrazi</mat-label>

                        <input type="text" matInput [matAutocomplete]="auto" formControlName="search" (ngModelChange)="search()">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let topic of filteredTopic" [value]="topic.title" routerLink="/topic/{{topic.id}}">
                                {{topic.title}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm text-right" style="padding: 1em;">

            <div style="display: inline-flex;">

                <h4 id="userParagraf">{{loggedUser}}</h4>

                <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-btn" id="userBtn"><mat-icon>keyboard_arrow_down</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/profile']" routerLinkActive="router-link-active"><mat-icon style="color: #FF634E;">person</mat-icon> Profil</button>
                    <button mat-menu-item (click)="logout()"><mat-icon style="color: #FF634E;">exit_to_app                    </mat-icon> Logout</button>
                </mat-menu>

                <a (click)="openLoginDialog()">
                    <h5 class="h4-bold" id="h4-bold">Login</h5>
                </a>
                <a>
                    <h5 class="h4-bold-active" id="h4-bold-active" (click)="openRegistrationDialog()">Sign Up</h5>
                </a>
            </div>


        </div>
    </div>
</div>