<div class="nav-menu">
    <div class="row text-center">
        <div class="col-sm text-center" [routerLink]="['/']" routerLinkActive="router-link-active" style="padding:1em">
            <img src="../../assets/img/logo.png" width="200px" alt="" class="img-fluid">
        </div>
        <div class="col-sm">
            <form [formGroup]="searchForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Assignee</mat-label>
                    <mat-icon matSuffix style="color: #FF634E;">search</mat-icon>
                    <input type="text" matInput [matAutocomplete]="auto" formControlName="search" (ngModelChange)="search()">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let topic of filteredTopic" [value]="topic.title" routerLink="/topic/{{topic.id}}">
                            {{topic.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div class="col-sm text-right">

            <div style="display: inline-flex;">
                <h4 id="userParagraf">{{loggedUser}}</h4>

                <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-btn" id="userBtn"><mat-icon>keyboard_arrow_down</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 2</button>
                    <button mat-menu-item (click)="logout()">Logout</button>
                </mat-menu>

                <a (click)="openLoginDialog()">
                    <h5 class="h4-bold" id="h4-bold">Login</h5>
                </a>
                <a>
                    <h5 class="h4-bold-active" id="h4-bold-active" (click)="openRegistrationDialog()">Sign Up</h5>
                </a>
            </div>


        </div>
    </div>
</div>