.nav-menu {
    background-color: #fff;
    padding: 0% 5% 0% 5%;
}

mat-form-field {
    width: 100%;
    margin-top: 1em;
}

.menu-btn {
    margin-top: 2em;
    color: #FF634E;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 1.5em;
}

.circle {
    background-color: #FF634E;
    color: #fff;
}

.h4-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: .5em;
    color: #999;
    padding-top: 1.8em;
}

.h4-bold-active {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: .5em;
    color: #FF634E;
    padding-top: 1.8em;
}

.h4-bold:hover,
.h4-bold-active:hover {
    color: #535050;
    transition: .5s ease;
}

a:hover {
    text-decoration: none;
}

::ng-deep.mat-dialog-container {
    padding: 0 !important;
}