.chat-dialog {
    padding: 2em;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

h6 {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.message-input {
    padding: 5em 0 0 0;
}

.send-btn {
    background-color: #FF634E;
    border: 1px solid #FF634E;
    color: #fff;
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    width: 100%;
    padding: 1em;
    margin-top: .5em;
    letter-spacing: 2px;
}

mat-form-field {
    width: 100%;
}

h5 {
    font-family: 'Montserrat', sans-serif;
}

.chat-col-left {
    background-color: #FF634E;
    color: #fff;
}

.chat-col-left h5 {
    padding-top: .5em;
    padding-left: .5em;
}

.chat-col-left h6 {
    padding-bottom: .5em;
    padding-left: .5em;
}

.chat-col-right {
    background-color: #F3F4F5;
}

.chat-col-right h5 {
    padding-top: .5em;
    padding-left: .5em;
}

.chat-col-right h6 {
    padding-bottom: .5em;
    padding-left: .5em;
}

img {
    padding-top: 0 !important;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

@media screen and (max-width:570px) {
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 12px;
    }
}