h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

.chat {
    background-color: #fff;
    padding: 1em;
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.col-sm-8 {}

#chat-col {
    margin-top: 2em;
    visibility: hidden;
    background-color: #Fff;
    opacity: 0;
    padding: 1em;
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    height: 40em !important;
    overflow: hidden;
    overflow-y: scroll;
    transition: visibility 0s, opacity 0.5s linear;
}

.send-btn {
    background-color: #FF634E;
    border: 1px solid #FF634E;
    color: #fff;
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    width: 100%;
    padding: 1em;
    margin-top: .5em;
    letter-spacing: 2px;
}

mat-form-field {
    width: 100%;
}

h5 {
    font-family: 'Montserrat', sans-serif;
}

.chat-col-left {
    background-color: #FF634E;
    color: #fff;
}

.chat-col-left h5 {
    padding-top: .5em;
    padding-left: .5em;
}

.chat-col-left h6 {
    padding-bottom: .5em;
    padding-left: .5em;
}

.chat-col-right {
    background-color: #F3F4F5;
}

.chat-col-right h5 {
    padding-top: .5em;
    padding-left: .5em;
}

.chat-col-right h6 {
    padding-bottom: .5em;
    padding-left: .5em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.new-chat-btn {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-color: #FF634E;
    border: 1px solid #FF634E;
    color: #fff;
    padding: .5em 2em .5em 2em;
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

.new-chat-btn:hover {
    background-color: #121212;
    border: 1px solid #121212;
    transition: .5s ease;
}

#chat-col-h {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.profile-img {
    border-radius: 50% !important;
    width: 80px;
    height: 80px;
}