<app-header></app-header>

<div>
    <div class="row">
        <div class="col-sm-3 text-center" style="padding-top: 5em;">
            <img src="../../assets/img/defult_image.png" width="100px" alt="" class="img-fluid">
            <div style="padding-top: 3em;" class="text-left">
                <a (click)="loadProfileOverview()">
                    <h5><i class="fa fa-eye" style="color: #FF634E;"></i> Pregled</h5>
                </a>
                <a (click)="loadChat()">
                    <h5><i class="fa fa-comments" style="color: #FF634E;"></i> Chat</h5>
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <div #target></div>
        </div>
    </div>
</div>