.nav-menu {
    background-color: #fff;
    padding: 0% 5% 0% 5%;
}

mat-form-field {
    width: 100%;
    margin-top: 1em;
}

.menu-btn {
    margin-top: 2em;
    color: #FF634E;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 1.5em;
}

.circle {
    background-color: #FF634E;
    color: #fff;
}