.add-topic-btn {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-color: #121212;
    border: 1px solid #121212;
    color: #fff;
    padding: .5em 2em .5em 2em;
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    font-weight: bold;
}

.home-container {
    padding: 5% 10% 5% 10%;
}

li {
    list-style-type: none;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding-top: .5em;
}

.category-div {
    padding-top: 1.5em;
}

.topic {
    padding: 1em;
    margin-top: 2em;
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
}

.topic h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.topic-card-category {
    padding: .5em;
    font-size: 15px;
    color: #fff;
    width: 30%;
}