.topic-container {
    padding: 5% 10% 0 10%;
}

.row {
    margin: 0 !important;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h6,
p,
h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 20px;
    padding-top: 2em;
}

.category-h6 {
    padding: .5em 1em .5em 1em;
    width: 20%;
    color: #fff;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
}

.reply-col {
    margin-top: 2em;
    margin-bottom: 2em;
}

.reply-container {
    padding-left: 10%;
}

h4 {
    padding-top: .5em;
}

.reply-content {
    background-color: #f8f8fb;
    padding: 1em;
    padding: .5em 2em .5em 2em;
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
}

.cat-h6 {
    font-weight: bold;
    color: #f8f8fb;
    width: 70%;
    padding: .5em;
}

.cat-h6:hover {
    background-color: #333 !important;
    transition: .5s ease;
}

a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.send-message-btn {
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    border: 0 !important;
    background-color: #ffa900;
    padding: .5em 1em .5em 1em;
    color: #fff;
}