.topic-container {
    padding: 5% 10% 0 10%;
}

.back-btn {
    padding: .5em 3em .5em 3em;
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    background: none;
    border: 0px;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

.back-btn:hover {
    background-color: #eee;
    transition: .5s ease;
}