<app-header></app-header>
<div class="row">
    <div class="col-sm-9">
        <div class="topic-container" id="topic-container">
            <div class="row">
                <div class="col-sm">
                    <h3>{{topic.title}}</h3>
                    <h6>{{topic.idUser.idUserInfo.fullName}}</h6>
                </div>
                <div class="col-sm text-right">
                    <h6>{{topic.date}}</h6>
                </div>
            </div>
            <p [innerHTML]="topic.question"></p>
            <div class="row">
                <div class="col-sm">
                    <h6 class="category-h6 text-center" [ngStyle]="{ 'background-color': topic.idTopicsCategory.color  }">{{topic.idTopicsCategory.title}}</h6>

                </div>
                <div class="col-sm reply-col text-right">
                    <button mat-icon-button (click)="openReplyDialog(topic)"><mat-icon>reply</mat-icon></button>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="reply-container">
                <div class="reply" *ngFor="let reply of topic.listOfReplies">
                    <div class="row">
                        <div class="col-sm">
                            <div class="">
                                <img src="{{reply.idUser.profilePicture}}" style="padding-top: 2em;" id="profile-image" onerror="this.src='https://firebasestorage.googleapis.com/v0/b/soy-smile-249718.appspot.com/o/defult_image.png?alt=media&token=cb217c42-4060-4b67-9fa8-0986a1ac3f03'"
                                    width="50px" class="img-fluid">
                                <h4>{{reply.idUser.idUserInfo.fullName}}</h4>
                                <h6>{{reply.date}}</h6>
                                <h6 style="font-weight: bold;">{{reply.idUser.username}}</h6>
                            </div>
                        </div>
                        <div class="col-sm text-right">
                            <a (click)="incrementLike(reply.id)">
                                <h6 style="padding-top: 4em;"><i class="fa fa-heart" style="color: #FF634E;"></i> {{reply.likes}}</h6>
                            </a>
                        </div>
                    </div>
                    <div class="reply-content">
                        <p innerHTML="{{reply.title}}"></p>
                    </div>
                    <button mat-raised-button (click)="openChatDialog(reply.idUser)">POSALJI PORUKU</button>
                    <mat-divider style="margin-top: 2em;"></mat-divider>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm" style="padding-top: 4em;border-left: 1px solid #e1e1e1;">
        <h3 style="font-weight: 200 !important;">Teme iste kategorije</h3>

        <li *ngFor="let topic of listOfTopics">
            <a routerLink="/topic/{{topic.id}}" routerLinkActive="router-link-active">
                <h6 class="cat-h6" [ngStyle]="{ 'background-color': topic.idTopicsCategory.color  }">{{topic.title}}</h6>
            </a>
        </li>
    </div>
</div>