.topic-container {
    padding: 5% 10% 0 10%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h6,
p,
h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 20px;
    padding-top: 2em;
}

.category-h6 {
    padding: .5em 1em .5em 1em;
    width: 10%;
    color: #fff;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
}

.reply-container {
    padding-left: 10%;
}

h4 {
    padding-top: 2em;
}

.reply-content {
    background-color: #f8f8fb;
    padding: 1em;
    padding: .5em 2em .5em 2em;
    -webkit-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 38px -25px rgba(0, 0, 0, 0.75);
}