<app-header></app-header>
<div class="topic-container" id="topic-container">
    <h3>{{topic.title}}</h3>
    <h6>{{topic.idUser.idUserInfo.fullName}}</h6>
    <p [innerHTML]="topic.question"></p>
    <h6 class="category-h6 text-center" [ngStyle]="{ 'background-color': topic.idTopicsCategory.color  }">{{topic.idTopicsCategory.title}}</h6>
    <mat-divider></mat-divider>

    <div class="reply-container">
        <div class="reply" *ngFor="let reply of topic.listOfReplies">
            <div class="row">
                <div class="col-sm">
                    <h4>{{reply.idUser.idUserInfo.fullName}}</h4>
                    <h6 style="font-weight: bold;">{{reply.idUser.username}}</h6>
                </div>
                <div class="col-sm text-right">
                    <h6 style="padding-top: 4em;"><i class="fa fa-heart" style="color: #FF634E;"></i> {{reply.likes}}</h6>
                </div>
            </div>
            <div class="reply-content">
                <p innerHTML="{{reply.title}}"></p>
            </div>
            <mat-divider style="margin-top: 2em;"></mat-divider>
        </div>
    </div>
</div>